<div class="container-fluid al">
    <div id="clock"></div>
    <br />
    <div class="table-title">
      <div class="row"></div>
    </div>
    <p>Most popular products</p>
    <table class="table table-bordered" id="myTable">
      <thead>
        <tr class="ex">
          <th width="auto">Item</th>
          <th width="auto">Quantity sold</th>
          <th>Revenue</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Vegetable</td>
          <td>69</td>
          <td>69.000</td>
        </tr>
      </tbody>
    </table>
</div>
    