<div class="container-fluid al">
    <div id="clock"></div>
    <br />
    <p class="timkiemnhanvien"><b>FIND PRODUCTS:</b></p>
    <br /><br />
    <input
      type="text"
      id="myInput"
      onkeyup="myFunction()"
      placeholder="Input to find..."
      data-toggle="tooltip"
      data-placement="bottom"
      title="Find"
    />
    <i class="fa fa-search" aria-hidden="true"></i>

    <form action=""></form>
    <button
      class="nv btn add-new"
      type="button"
      data-toggle="tooltip"
      data-placement="top"
      title="Add"
    >
      <i class="fas fa-user-plus"></i>
    </button>
    <button
      class="nv"
      type="button"
      onclick="sortTable()"
      data-toggle="tooltip"
      data-placement="top"
      title="Filter"
    >
      <i class="fa fa-filter" aria-hidden="true"></i>
    </button>
    <div class="table-title">
      <div class="row"></div>
    </div>
    <table class="table table-bordered" id="myTable">
      <thead>
        <tr class="ex">
          <th width="auto">Name</th>
          <th width="auto">Quantity</th>
          <th>Price</th>
          <th>Image</th>
          <th width="5px; !important">Feature</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Vegetable</td>
          <td>69</td>
          <td>69.000</td>
          <td></td>
          <td>
            <a class="add" title="Lưu Lại" data-toggle="tooltip"
              ><i class="fa fa-floppy-o" aria-hidden="true"></i
            ></a>
            <a class="edit" title="Sửa" data-toggle="tooltip"
              ><i class="fa fa-pencil" aria-hidden="true"></i
            ></a>
            <a class="delete" title="Xóa" data-toggle="tooltip"
              ><i class="fa fa-trash-o" aria-hidden="true"></i
            ></a>
          </td>
        </tr>
      </tbody>
    </table>
</div>